<div id="container">
        <h1>Carlotta Frommer's Starter Projects</h1>
        <hr>
        <h2>Choose from these fun little projects:</h2>
        <div id="background">
            {{> nav}}
        </div>
</div>